body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #262626;
  color: #BCB4B4;
}

.container-fluid {
  padding: 2% 7% 5%;
}

/* Button */
.title-btn {
  background-color: #bcb4b4;
  color: #1E1E1E;
  font-size: 23px;
  font-weight: 600;
}

.title-btn:hover {
  border: 2px solid #bcb4b4;
  color: #bcb4b4;
}

.title-btn-about {
  font-size: 20px;
  font-weight: 600;
  background-color: #bcb4b4;
  color: #1E1E1E;
}

.cv-btn {
  border: 2px solid #bcb4b4;
  color: #bcb4b4;
  margin-left: 3%;
  padding: 6px 9px 6px;
  font-size: 19px;
  font-weight: 600;
}

.cv-btn:hover {
  background-color: #bcb4b4;
  color: #1E1E1E;
}

.about-btn {
  text-align: center;
  margin-top: 5%;
  padding-bottom: 5%;
}

/* Navbar */
.navbar {
  padding: 0 0 5%;
}

.navbar-nav {
  margin-left: 65%;
}

.nav-link {
  font-weight: 700;
  font-size: 18px;
  margin: 0 5%;
}

.nav-brand {
  color: #FFA500;
}

.title-color {
  color: #FFA500;
  text-decoration: none;
}

/* Title */
#title {}

.title-img {
  width: 80%;
  margin-left: 15%;
  position: relative;
}

.bold-header {
  font-weight: 700;
  font-size: 45px;
}

.bold-header-2 {
  font-weight: 700;
  font-size: 35px;
}

.header-title {
  padding-top: 40px;
}

.title-p {
  padding-bottom: 2%;
  padding-top: 2%;
  font-size: 25px;
}

/* about */
#about {}

.feature-section {
  padding-bottom: 10%;
  padding-top: 2%
}

.section-header {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  padding: 3% 0 0;
}

.section-header-2 {
  font-weight: 700;
  font-size: 33px;
  text-align: center;
  padding: 6% 0 0;
}

.hr-line {
  border-top: 8px dotted #FFE5B4;
  width: 7%;
  position: relative;
  margin-left: 46.5%;
  padding-bottom: 3%;
}

.feature-icon {
  color: #FFA500;
  width: 100%;
  padding: 0 2% 5%;
}

.feature-icon:hover {
  color: #bcb4b4;
}

.feature-heading {
  text-align: center;
  font-weight: 700;
}

.feature-paragraph {
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
}

.my-image {
  position: relative;
  width: 40%;
  margin-left: 30%;
  background-color: #BCB4B4;
  border-radius: 10%;
}

/* Skill */
.container {
  width: 80%;
  padding-left: 5%;
}

@keyframes load {
  from {
    width: 0%
  }
}

@-webkit-keyframes load {
  from {
    width: 0%
  }
}

@-moz-keyframes load {
  from {
    width: 0%
  }
}

@-o-keyframes load {
  from {
    width: 0%
  }
}

.bar {
  background-color: #1E1E1E;
  border-radius: 8px;
  margin-bottom: 18px;
  font-size: 16px;
  color: #1E1E1E;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  border: 1px solid #BCB4B4;
}

.bar::before {
  content: attr(data-skill);
  background-color: #FFA500;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.intermediate::before {
  width: calc(70% - 10px);
}

.bar.advanced::before {
  width: calc(80% - 10px);
}

.bar.expert::before {
  width: calc(90% - 10px);
}

/* projects */
#Projects {}

.project-img {
  width: 100%;
}

/* card */
.card {
  background-color: #1E1E1E;
  height: 100%;
}

.card-title {
  color: #FFA500;
  font-weight: 700;
  font-size: 22px;
}

.project-card {
  padding: 3% 1% 3%;
}

/* testimonials */
#testimonials {
  padding: 0 8% 3%;
}

.carousel-text {
  font-weight: 600;
  color: #FFA500;
  font-size: 22px;
}

.carousel {
  padding-top: 3%;
}

.carousel-item {
  padding: 0 10% 0;
}

.carousel-inner {
  background-color: #1E1E1E;
  padding: 5% 2% 7%;
  color: #D0C9C0;
  text-align: center;
  line-height: 1.5;
  border-radius: 15px;
}

.carousel-header {
  font-weight: 600;
  padding-top: 5%;
}

/* Contact */
#contact {}

.form-control {
  background-color: #1E1E1E;
  color: #BCB4B4;
  padding: 2% 2% 2%;
}

.contact-form {
  padding: 1% 15% 2%;
}

/* Social Link */
.social-icon {
  text-align: center;
}

.social-icon-a {
  color: #FFA500;
  padding: 3% 1% 2%;
}

.social-icon-a:hover {
  color: #D0C9C0;
}

.form-heading {
  color: #FFA500;
  text-align: center;
  padding-bottom: 2%;
}

.contact-icon {
  color: #D0C9C0;
  padding: 2% 0 3%;
}

/* copyright */
.copyright {
  text-align: center;
  background-color: #1E1E1E;
  padding: 2% 0 2%;
}

/* MediaQuery */
@media (max-width:980px) {
  .container-fluid {
    padding: 5% 5% 5%;
  }

  .nav-link {
    font-weight: 700;
    font-size: 23px;
  }

  .navbar-toggler {
    height: 60px;
    width: auto;
    border: 1px solid #D0C9C0;
  }

  .nav-brand {
    height: 60px;
    width: auto;
  }

  .section-header {
    font-size: 40px;
    padding: 5% 0 0;
  }

  .section-header-2 {
    font-size: 40px;
  }

  .bold-header {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.5;
  }

  .bold-header-2 {
    font-size: 40px;
  }

  .header-title {
    text-align: center;
    line-height: 1.5;
    padding-top: 3%;
  }

  .title-btn {
    font-size: 25px;
    font-weight: 600;
  }

  .title-btn-about {
    font-size: 25px;
    padding: 1% 2% 1%;
  }

  .cv-btn {
    font-size: 25px;
  }

  .title-p {
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: 26px;
  }

  .feature-heading {
    font-size: 30px;
  }

  .feature-section .feature-paragraph {
    padding-bottom: 10%;
  }

  .feature-paragraph {
    font-size: 25px;
  }

  .container {
    width: 95%;
  }

  .about-myself {
    width: 100%;
    padding-bottom: 8%;
  }
  .bar {
    font-size: 20px;

  }
  #Projects {
    padding: 0 2%;
  }

  .title-img {
    width: 70%;
    text-align: center;
    padding: 3% 0 3%;
  }

  #testimonials {
    padding: 0 2% 5%;
  }

  .carousel-item {
    padding: 0 6% 0;
  }

  .carousel-inner {
    padding: 5% 4% 8%;
  }

  .contact-form {
    padding: 1% 2% 2%;
  }
}
